@using MicroCRM.App.Controllers;
@using MicroCRM.App.Models.Lead.Form;
@using MicroCRM.App.Components.Lead.Form;

@model CreateFormViewModel

@{
    ViewData["Title"] = "Lead Form";
}

<p>Create Lead Form</p>

<component type="typeof(CustomForm)" render-mode="ServerPrerendered" param-Model="Model" />

@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}