@using MicroCRM.App.Controllers;
@using MicroCRM.App.Models.Lead.Form;

@model IList<FormListViewModel>

@{
    ViewData["Title"] = "Lead Forms";
}

<table>
    <tr>
        <td>Id</td>
        <td>Form</td>
        <td></td>
    </tr>
    @foreach (var vm in Model)
    {
        var formDetails = new CreateOrEditFormViewModel(vm.Id, vm.Name);

        <tr>
            <td>@vm.Id</td>
            <td>@vm.Name</td>
            <td>@Html.ActionLink("Edit", nameof(LeadController.FormDetail), "lead", formDetails)</td>
        </tr>
    }
</table>
