@using MicroCRM.App.Models.Lead.Form;
@using MicroCRM.App.Components.Form;

@model CreateFormViewModel

@{
    ViewData["Title"] = "Lead Form";

}

<div>
    <component type="typeof(CustomForm)" render-mode="ServerPrerendered" Label="teste" />
</div>

@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}