@using MicroCRM.App.Models.Lead.Form;
@using MicroCRM.App.Components.Lead.Form;

@model CreateFormViewModel

@{
    ViewData["Title"] = "Lead Form";
}

<h2>Create Lead Form</h2>

<component type="typeof(CustomForm)" render-mode="ServerPrerendered" param-Model="Model" />

@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}