@using MicroCRM.App.Models.Lead.Form;
@using MicroCRM.App.Components.Form;

@model CreateFormViewModel

@{
    ViewData["Title"] = "Lead Form";
}

<div>
    Blazor
    <component type="typeof(CustomForm)" render-mode="ServerPrerendered" param-Label="@("teste")" />
    /Blazor
</div>

@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}