@using MicroCRM.App.Controllers;
@using MicroCRM.App.Models.Lead.Form;
@using System.Text;

@inject HttpClient httpClient;
@inject NavigationManager navigationManager;

@code {
    [Parameter]
    public CreateFormViewModel Model { get; set; }

    void AddField()
    {
        Model.Fields ??= new List<CreateFormFieldViewModel>();

        var newFormField = new CreateFormFieldViewModel(Guid.NewGuid(), "label123", "InternalName");

        Model.Fields.Add(newFormField);
    }

    async Task Send()
    {
        var serialized = System.Text.Json.JsonSerializer.Serialize(Model);
        var stringContent = new StringContent(serialized, Encoding.UTF8, "application/json");

        var result = await httpClient.PostAsync($"{navigationManager.BaseUri}lead/{nameof(LeadController.CreateForm)}", stringContent)
            .ConfigureAwait(false);
    }
}

<div>
    <p>@Model.Name</p>

    <input type="button" @onclick=AddField value="Add Field" />

    <input type="button" @onclick=Send value="Submit!!" />

    <table>
        @foreach (var f in Model?.Fields ?? Enumerable.Empty<CreateFormFieldViewModel>())
        {
            <tr id=@f.Id>
                <td>@f.Id</td>
                <td>@f.Label</td>
                <td>@f.InternalName</td>
            </tr>
        }
    </table>
</div>
