@using MicroCRM.App.Controllers;
@using MicroCRM.App.Models.Lead.Form;
@using MicroCRM.App.Components.Form;

@model CreateOrEditFormViewModel

@{
    ViewData["Title"] = $"{Model.Name} - Form Detail";
}

<p>@Model.Name</p>

<component type="typeof(CustomFormBuilder)" render-mode="ServerPrerendered" param-Model="Model" />

@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}